<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/Forgotpassword.css" />

@*@using (Html.BeginForm()){
    <div class="form-horiontal">
        <hr/>
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="custom-control-label col-md-2">Email Id</label>
            @Html.TextBox("EmailId","",new{@class="form--control"})
        </div>
        <div class="form-group">
            <div class="ccl-md-offset-2 col-md-10">
                <input type="submit" value="submit" class="btn btn-success">
            </div>
        </div>

    </div>

}*@

@using (Html.BeginForm())
{
<div class="container">
    <!-- Instructions -->
    <div class="row">
        <div class="alert alert-success col-md-12" role="alert" id="notes">
            <h4>NOTES</h4>
            <ul>
                <li>You will recieve a Reset Password Link on your mail after you verify Email. Enter that EmailId below.</li>
                <br/>
                <p class="ml-5 font-weight-bold">  @ViewBag.Message </p>
            </ul>
        </div>
    </div>
    <!-- Verification Entry Jumbotron -->
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h2>Enter the Email Address</h2>
                <form  role="form">
                    <div class="col-md-9 col-sm-12">
                        <div class="form-group form-group-lg">
                            <input type="text" id="EmailId"  class="form-control col-md-6 col-sm-6 col-sm-offset-2" name="EmailId" required>
                            <input class="btn btn-primary btn-lg col-md-2 col-sm-2" type="submit"  value="Verify">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}